.project
.settings
*~
*.diff
*.patch
/*.html
/src/atueditor
.bower.json
yarn.lock
package-lock.json


# Ignore everything in dist folder except for eslint config
/dist/*
/build
/node_modules
gulpfile.js
gulp.log
